{% extends "base.html" %}
{% block content %}


<section class="content3">
{% for availablity in all_availablitys %}

	{% if booking_id == availablity.pk %}
		{% if availablity.available == False %}
			<h3>
			{{availablity}}
			</h3>
		{% else %}
			<h3>{{availablity}}</h3>
			<br>
				{% if user.is_authenticated %}
					<form action="" method="post">
					{% csrf_token %}
					{{form}}
					<button type="submit">Book</button>
					</form>
				{% else %}
					<h2> Please Login to Make Bookings</h2>
				{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}

</section>
{% endblock %}