{% load static %}
<html lang="en-US">
<!-- HEAD -->
  <head>
    <meta charset="UTF-8">
    <title>Instrumentor</title>
    {% load static %}
      <link rel="stylesheet" id="style" href="{% static 'style.css' %}" type="text/css" media="all">
  </head>
     <!-- BODY -->
      <body id="background_1">
        <header>
          <!-- MAIN TITLE -->
              <h1>Instrumentor</h1>
              <br>
              <i><p>When it comes to instruments, mentorship is instrumental</p></i>
              {% block content %}
              {% endblock %}



    <!--FOOTER -->
    <footer>
       <p>&copy; Instrumentor 2019</p>
    </footer>

    <!-- Javascript  -->
  <script src="{% static 'javascript.js' %}"></script>
  </body>
</html>
