{% load static %}
<html lang="en-US">
     <!-- HEAD -->
     <head>
        <meta charset="UTF-8">
        <title>Instrumentor</title>
        {% load static %}
        <link rel="stylesheet" id="style" href="{% static 'style.css' %}" type="text/css" media="all">
     </head>
  <header>
<!--Mobile Nav -->
{% if user.is_authenticated %}
<div class="containernav">

    <div class="navbutton">
           <div class="dropdown">
               <div class="dropbtn"><img src="{% static 'images/navicon2.png' %}" alt="Nav">
                   <div class="dropdown-content">
                      <a href="{% url 'home' %}">Home</a>
                      <a href="{% url 'profile' request.user.id %}">Account</a>
                      <a href="{% url 'about' %}">About</a>
                      {% if user.student %}
                      <a href="{% url 'tutors' %}">Tutors</a>
			                <a href="..\..\home/schedule/">Schedule</a>
                      {% elif user.tutor %}
                      <a href="{% url 'students' %}">Students</a>
                      {% endif %}
                      <a href="{% url 'logout' %}"><div class="logout">Logout
                    </div>{% csrf_token %}</a>
               </div>
            </div>
       </div>
    </div>
</div>
      {% endif %}


    <!-- BODY -->
    {% block body %}
      {% if request.user.is_authenticated %}
      {% block header %}
        <!-- MAIN TITLE -->
        {% endblock %}
        {% endif %}
        <br>

        {% block content %}
        {% endblock %}


          <!--FOOTER -->
          <footer>
          <p>&copy; Instrumentor 2019</p>
          </footer>

          <!-- Javascript  -->
          <script src="{% static 'javascript.js' %}"></script>

    {% endblock %}
</html>
