{% include "base.html" %}
{% load static  %}

{% block header %}
  <h1 id="home">Confirm</h1>
{% endblock %}

{% block profile %}
	<section class="content3">{# white #}
	  	<div id="mainp">
				<br>
				<p><b>You are booking for</b></p>

        <p>${{ avail.tutor.price}}(hour)</p>
				<p>{{ avail.hour }}</p>
        <p>{{ avail.tutor }}</p>
	        <br>
					<form id="form2" action="" method="post">
					{% csrf_token %}
					{{form}}
					<br><br>
					<div class="btn-group2">
				    <button class="button2" type="submit">
              Confirm</button>
				  </div>

					</form>
					</div>
	</section>
{% endblock %}
