{% include "base.html" %}
{% load static  %}

{% block header %}
  <h1 id="home">Book Tutor</h1>
{% endblock %}

{% block profile %}
<section class="content3">
  <div class="btn-group2">
    {# Tutor Availabilities #}
    <ul>
      <p><b>{{tutor.user.first_name|capfirst}} {{tutor.user.last_name|capfirst}}</b></p>
      <p><b>Instrument:</b> {{ tutor.instrument}}</p>

      <p><b>Availabilities (click to book):</b></p>

        {% for avail in avail %}
        {% if avail.available == True %}

            <button class="button2">
              <a href="{% url 'booking' avail.pk %}">{{ avail }}</a>
            </button>

      {% endif %}
    {% endfor %}

    <br>

    </ul>
    <br><br>
    </div>
</section>


{% endblock %}
