{% extends 'base.html' %}
{% load static  %}
{# Home Page - check if student or tutor #}
{% block header %}
  <h1 id="home">Welcome {{ request.user.username }}</h1>
{% endblock %}
{% block content %}
<div class="mainp">
  <div class="home">

    {% if user.student %}  
    <a href="{% url 'profile' user.id %}">
      <img src="{{ user.student.profile_pic.url }}"/>
    </a>

      <a href="{% url 'tutors' %}">
      <img src="{% static "drums.jpg" %}" alt="tutors" ></a>

    {% elif user.tutor %}
    <a href="{% url 'profile' user.id %}">
      <img src="{{ user.tutor.profile_pic.url }}"/>
    </a>

    <a href="{% url 'students' %}">
    <img src="{% static "drums.jpg" %}" alt="tutors" ></a>




    {% endif %}
    <br><br>

 </div>
</div>

{% endblock %}
