{% extends 'base.html' %}
{# Home Page - check if student or tutor #}

{% block content %}




{# loop through all tutors #}
<section class="content2">{# blue #}
    {% if user.student %}
    <p id="search"> Search for tutors...</p><br>
    <div class="flexbox">
    {% for tutors in tutors.all %}
     <section class="boxes">
        <span id="box">

          <div class="boxcontainer">
            <a href="{% url 'tutor' user.id %}" alt="Profile">
            <img src="{{ tutors.profile_pic.url }}"></a>
            <p>{{ tutors.name|capfirst }}</p>
              <p>{{ tutors.instrument|capfirst }}</p>
          </div>
        </span>
      </section>
      {% endfor %}
    </div>
     {% endif %}
</section>


{% endblock %}
