{% extends "base.html" %}

{% block content %}

  {# ADD constraints depending on who has logged in #}


<h1> {{instrument_type}} lessons available</h1>

<section class="content3">{# white bk #}
<div class="profile_info">
	<ul>
		{% for availability in all_avail %}
		{% if availability.tutor.instrument.name == instrument_type %}
		<br>
		<li><a href="..\..\booking/{{availability.pk}}"> {{availability}} </a></li>
		{% endif %}
		{% endfor %}
		{% for availability in all_avail %}
		{% if availability.tutor.user.username == instrument_type %}
		<br>
		<li><a href="..\..\booking/{{availablity.pk}}">{{availability}} </a></li>
		{% endif %}
		{% endfor %}
		{% for availability in all_availablitys %}
		{% if availability.hour.day_of_week == instrument_type %}
		<br>
		<li><a href="..\..\booking/{{availability.pk}}">{{availability}} </a></li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
</section>
{% endblock %}
