{% extends "base.html" %}
{% block header %}
  <h1 id="home">Timetable</h1>
{% endblock %}
{% block content %}

  {# ADD constraints depending on who has logged in #}


<h1> {{instrument_type}} tutors available</h1>

<h3>Instruments</h3>
<ul>
	{% for availablity in all_availablitys %}
	{% if availablity.tutor.instrument.name == instrument_type %}
	<li><a href="#"> {{availablity}} </a></li>
	{% endif %}
	{% endfor %}
	{% for availablity in all_availablitys %}
	{% if availablity.tutor.user.username == instrument_type %}
	<li><a href="#">{{availablity}} </a></li>
	{% endif %}
	{% endfor %}
	{% for availablity in all_availablitys %}
	{% if availablity.hour.day_of_week == instrument_type %}
	<li><a href="#">{{availablity}} </a></li>
	{% endif %}
	{% endfor %}
</ul>
{% endblock %}
