{% extends "base.html" %}

{% block content %}

  {# ADD constraints depending on who has logged in #}


<h1> {{instrument_type}} lessons available</h1>

<section class="content3">{# white bk #}
<div class="profile_info">
	<ul>
		{% for availablity in all_availablitys %}
		{% if availablity.tutor.instrument.name == instrument_type %}
		<br>
		<li><a href="..\..\booking/{{availablity.pk}}"> {{availablity}} </a></li>
		{% endif %}
		{% endfor %}
		{% for availablity in all_availablitys %}
		{% if availablity.tutor.user.username == instrument_type %}
		<br>
		<li><a href="..\..\booking/{{availablity.pk}}">{{availablity}} </a></li>
		{% endif %}
		{% endfor %}
		{% for availablity in all_availablitys %}
		{% if availablity.hour.day_of_week == instrument_type %}
		<br>
		<li><a href="..\..\booking/{{availablity.pk}}">{{availablity}} </a></li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
</section>
{% endblock %}
