{% extends "base.html" %}

{% block content %}

  <section class="content3">{# white bk #}
  <div class="profile_info">

    {# loop availablities by instrument, tutor, date #}

  <h3>Instruments</h3>
    <ul>
      <div class="btn-group2">
        {% for instrument in all_instruments %}
        <button class="button2">
          <a href="{{instrument.name}}"> {{instrument.name}} </a>
        </button>
        {% endfor %}
      </div>
    </ul>

    <h3>Tutors</h3>
    <ul>
      <div class="btn-group2">
      {% for tutor in tutors %}
       <button class="button2">
        <a href="{{tutor.user.username}}">{{tutor.name}}</a>
      </button>
     {% endfor %}
  </div>
    </ul>


  </div>
  </section>

{% endblock %}
