{% include "base.html" %}
{% load static  %}
{# Logged In User Profile #}
{% block profile %}
<section class="content3">{# blue #}
<br>
{% if user.student %}
    <div class="profile_info">
      <img src="{{ user.student.profile_pic.url }}" id="profile"/>
    </div>
    <br>
    <div class="profile_info">
      <ul>
        <br><p><b>Account Details</b></p>
        <p><b>Username:</b> {{ user.username|capfirst }}</p>
        <p><b>Name:</b> {{ user.student.name|capfirst }}</p>
        <p><b>Email:</b> {{ user.email}} </p>
        <p><b>About:</b> {{ user.student.about}} </p>
        <p><b>Instrument:</b> {{ user.student.instrument|capfirst }}</p>
        <p><b>Instrument Needed:</b> {{ user.student.instrument_req|capfirst }}</p>
        <br>
        {% if request.user == user%}
          <p><a href="{% url 'profile_edit_redirect' %}"><button class="button1">Edit Details</button></a></p>
        {% endif %}
      </ul>
 </div>
    <br>

{% elif user.tutor %}
    <div class="profile_info">
      <img src="{{ user.tutor.profile_pic.url }}" id="profile"/>
    </div>
    <br>
    <div class="profile_info">
      <ul>
        <br><p><b>Account Details</b></p>
        <p><b>Username:</b> {{ user.username|capfirst }}</p>
        <p><b>Name:</b> {{ user.tutor.name|capfirst }}</p>
        <p><b>Email:</b> {{ user.email}} </p>
        <p><b>Experience:</b> {{ user.tutor.experience}} </p>
        <p><b>Instrument:</b> {{ user.tutor.instrument|capfirst }}</p>
        <p><b>Instrument Available:</b> {{ user.tutor.instrument_avail|capfirst }}</p>
        <p><b>Price:</b> {{ user.tutor.price|capfirst }}</p>
        <br>
        {% if request.session.user == user%}
          <p><a href="{% url 'profile_edit_redirect' %}"><button class="button1">Edit Details</button></a></p>
        {% endif %}
      </ul>
    </div>
    <br>

{% endif %}

</section>
{% endblock %}
