{% include "base.html" %}
{% load static  %}
{# Logged In User Profile #}
{% block header %}
  <h1 id="home">Welcome {{ request.user.username }}</h1>
{% endblock %}
{% block profile %}

<br>
{% if user.student %}
<section class="content3">{# white #}
    <div class="profile_info">
      <img src="{{ user.student.profile_pic.url }}" id="profile"/>
    </div>
    <br>
    <div class="profile_info">
      <ul>
        <br><p><b>Account Details</b></p>
        <p><b>Username:</b> {{ user.username|capfirst }}</p>
        <p><b>Name:</b> {{ user.student.name|capfirst }}</p>
        <p><b>Email:</b> {{ user.email}} </p>
        <p><b>About:</b> {{ user.student.about}} </p>
        <p><b>Instrument:</b> {{ user.student.instrument|capfirst }}</p>
        {% if user.student.instrument_req == True %}
        <p><b>Instrument Needed:</b>Yes</p>
        {% elif user.student.instrument_req == False %}
        <p><b>Instrument Needed:</b>No</p>

        <br><p><b>Bookings</b></p>

        {% for booking in userBookings %}
        <p>{{ booking }}</p>
        {% endfor %}

        {% endif %}
        <br>
        {% if request.user == user%}
          <div class="btn-group2">
            <button class="button2">
              <a href="{% url 'profile_edit_redirect' %}">Edit Details</a>
            </button>
          </div>
        {% endif %}

      </ul>
    </div>
    <br>
    </section>


{% elif user.tutor %}
<section class="content3">{# white #}
    <div class="profile_info">
      <img src="{{ user.tutor.profile_pic.url }}" id="profile"/>
    </div>
    <br>
    <div class="profile_info">
      <ul>
        <br><p><b>Account Details</b></p>
        <p><b>Username:</b> {{ user.username|capfirst }}</p>
        <p><b>Name:</b> {{ user.tutor.name|capfirst }}</p>
        <p><b>Email:</b> {{ user.email}} </p>
        <p><b>Experience:</b> {{ user.tutor.experience}} </p>
        <p><b>Instrument:</b> {{ user.tutor.instrument|capfirst }}</p>
        {% if user.tutor.instrument_avail == True %}
        <p><b>Instrument Available:</b>Yes</p>
        {% elif user.tutor.instrument_avail == False %}
        <p><b>Instrument Available:</b>No</p>
        {% endif %}
        <br>
        {% if request.user == user %}
          <div class="btn-group2">
            <button class="button2">
              <a href="{% url 'profile_edit_redirect' %}">Edit Details</a>
            </button>
          </div>
        {% endif %}
      </ul>
    </div>
    <br>

   {% endif %}

</section>
{% endblock %}
