{% include "base.html" %}
{% load static  %}
{# Logged In User Profile #}
{% block profile %}
<section class="content3">{# blue #}
<br>
{% if user.student %}
    <div class="profile_info">
      <img src="{{ user.student.profile_pic.url }}" id="profile"/>
    </div>
    <br>
    <div class="profile_info">
      <ul>
        <br><p><b>Account Details</b></p>
        <p><b>Username:</b> {{ user.username|capfirst }}</p>
        <p><b>Name:</b> {{ user.student.name|capfirst }}</p>
        <p><b>Email:</b> {{ user.email}} </p>
        <p><b>Instrument:</b> {{ user.student.instrument|capfirst }}</p>
        <br><p><b>Edit Details</b></p>
      </ul>

    <br><br>
          <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" value="Save">Submit</button>
          </form>
 </div>
    <br>

{% elif user.tutor %}
    <div class="profile_info">
      <img src="{{ user.tutor.profile_pic.url }}" id="profile"/>
    </div>
    <br>
    <div class="profile_info">
      <ul>
        <br><p><b>Account Details</b></p>
        <p><b>Username:</b> {{ user.username|capfirst }}</p>
        <p><b>Name:</b> {{ user.student.name|capfirst }}</p>
        <p><b>Email:</b> {{ user.email}} </p>
        <p><b>Instrument:</b> {{ user.tutor.instrument|capfirst }}</p>
        <p><b>Instrument Available:</b> {{ user.tutor.instrument_avail|capfirst }}</p>
        <br><p><b>Edit Details</b></p>
      </ul>
        <br><br>
          <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" value="Save">Submit</button>
          </form>
    </div>
    <br>

{% endif %}

</section>
{% endblock %}
