{% include "base.html" %}
{% load static  %}
{% block header %}
  <h1 id="home">Student Details</h1>
{% endblock %}
{# Logged In User Profile #}
{% block profile %}
<section class="content3">{# white #}
<br>    <div class="profile_info">
      <img src="{{ student.profile_pic.url }}" id="profile"/>
    </div>
    <br>
    <div class="profile_info">
      <ul>
        <br>
        <p><b>{{student.user.first_name|capfirst}} {{student.user.last_name|capfirst}}</b></p>
        <p><b>Username:</b> {{ user.username}}</p>
        <p><b>Instrument:</b> {{ student.instrument}}</p>
        <p><b>Email:</b> {{ student.user.email}}</p>
        <p><b>About:</b> {{ student.about}}</p>
      </ul>
      <br><br><br>
</section>

{% endblock %}
