{% extends 'base.html' %}
{# All #}
{% block header %}
  <h1 id="home">Tutors</h1>
{% endblock %}
{% block content %}

{# loop through all tutors #}
<section class="content2">{# blue #}
  <br> <br>
  {# Search  #}
  <div class="btn-group">
        {% csrf_token %}
    <form id="searchform" action="{% url 'tutors' %}" method="get" accept-charset="utf-8">
     <input name="q" type="search" placeholder="Search">
     <button class="button1" type="submit">Search</button>
    </form>
  </div>

    <div class="flexbox">
    {% for tutor in tutor_list %}
     <section class="boxes">
        <span id="box">
          <div class="boxcontainer">

            <a href="{% url 'tutor_detail' tutor.pk %}" alt="Profile">
            <img src="{{ tutor.profile_pic.url }}"></a>

            <p>{{ tutor.name|capfirst }}</p>
            <p>{{ tutor.instrument|capfirst }}</p>
          </div>
        </span>
      </section>
      {% endfor %}
    </div>
</section>

{% endblock %}
