/* Order of contents:

- Fontface
- Body
- Fonts
- Backgrounds
- Containers
- Nav
- Header
- Modals
- Forms
- Buttons
- Boxes
- Logo
- Footer

**** Media Queries Medium
***** Media Queries Small
*******************************/

@font-face {
   font-family: 'Sun Valley';
   src: url('SunValley.woff2') format('woff2'),
       url('SunValley.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

/****** BODY            */
body{
 font-family: Arial, Helvetica, sans-serif;
 padding:0;
 margin:0;
 letter-spacing: 1.5px;
 font-size: 18px;
 line-height:25px;
 background-size: 100%;
 background-repeat:no-repeat;
 background-position: top;
 background-attachment: fixed;
 background-size: cover;
}
body h1{
 margin: 0;
 font-size: 10vw;
 padding: 150px 10px 20px 0;
 line-height: 50px;
 font-family: 'Sun Valley';
 text-align: center;
 color: white;
 }
/********** BACKGROUNDS */
/* base.html background */
#background_1{
 background-size: 100%;
 background-image: url(images/concert2.jpg);
 background-repeat:no-repeat;
 background-position: top;
 background-attachment: fixed;
 background-size: cover;
}

/****** PROFILE CARDS   */
.card-shadow{
 color: grey;
 width: 200;
}
.back-card{
 color: white;
 width: 10%;
 height: 220;
}
.card-body{
  width: 50%;
}
.card-text{
}

/***** MODALS           */
/* Close Modal Button */
.close {
    position: absolute;
    right: 40px;
    top: 40px;
    color: #000;
    font-size: 4em;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
}

/************** BUTTONS */
/* Main Buttons */
/* Main Buttons */
.btn-group{
  margin-top:300px;
  width: 100%;
  display:inline-block;
  text-align: center;
}
.btn-group button {
    background-color: #FFFFFF;
    color: black;
    padding: 15px 25px;
    cursor: pointer;
    width: 300px;
    border: none;
    text-align: center;
    font-size: 24px;
    margin: 2px;
}
.btn-group button:not(:last-child) {
    border-right: none;
}
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:hover {
    background-color:rgba(255, 255, 255, 0.8);
}
/* Links */
a{
 color: #1c3a6b;
 text-decoration: none;
 font-size:20px;
}
a:hover{
 color:#6BA0BB;
}

/* Containers  */
.container{
 width:95%;
 margin:auto;
 overflow:hidden;
}
.containerm {
    color: #FFFFFF;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    padding-top: 140px;
}
.containernav{
 width:95%;
 margin:auto;
 position: fixed;
 top: 0;
}
.container1{
 width:80%;
 margin:auto;
 overflow:hidden;
}
.container2{
 width:60%;
 margin:auto;
 overflow:hidden;
}

/************** HEADERS   */
.header {width:95%;}
header {
 min-height:670px;
 text-align:center;
 color: white;
 margin:0;
 padding-bottom: 50px;
}
header h2{
 font-size: 1em;
 font-family: 'Sun Valley';
}
header h3{
 margin: 0;
 padding-top: 80px;
 font-size: 40px;
 color: white;
 line-height: 40px;
}
header h4{
 margin:0;
 font-size: 2em;
 padding-top: 170px;
 padding:10px 0 0 20px;
 font-size: 40px;
}

/***************** NAV */
.navbutton{display:none;
}
nav li{
 font-size: 18px;
 float:left;
 display:inline;
 padding: 0 20px 0 20px;
}
nav h4{
 margin: 0 0 20px 0;
}
nav ul{
 margin: 0;
 padding:10px;
}
nav{
 display: inline;
 float:right;
 padding:10px;
 margin-top: 30px;
}
nav .highlight, nav .current a{
 color: #cccccc;
}
nav:hover{
 background-color:rgba(255, 255, 255, 0.6);
}

/* dropdown Nav */
.dropbtn {
 font-size: 20px;
 z-index: 1;
 color: #1c3a6b;}
.dropdown {
 position:relative;
 display:block;
 float:right;
}
.dropdown-content {
 display: none;
 position: absolute;
 right: 0;
 background-color: white;
 min-width: 70px;
 z-index: 1;
}
.dropdown-content a {
 padding: 12px 14px;
 display: block;
}
.dropdown-content a:hover {
 background-color: #D9E8F2
}
.dropdown:hover .dropdown-content {
 display: block;
}

/*****        LOGO  ******/
#logo img{
 float: left;
 width: 25%;
 padding: 18px;
 opacity: 0.8;
}

/* Sidebar */
#sidebar{
 position: fixed;
 top: 85px;
 padding: 20px;
 float: top;
 width: 50px;
 margin:0;
}
#sidebar img{
 width:50px;
 height:50px;
}
#sidebar img:hover{
opacity: 0.8;
}

/******          FORM *****/
form{
  padding: 20px;
  margin: auto;
  border: none;
  position:relative;
  width:50%;
  height: 60%;
  overflow:scroll;
}
label{
  padding: 20px;
  margin: 60px 10px 10px 10px;
  font-size: 20px;
}
label:after {
  content: " ";
}
input[type=text], [type=email], [type=password], select {
    width: 70%;
    padding: 8px 40px 0 0 ;
    margin: 10px 30px 10px 30px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}
input[type=submit]{
  color: white;
  text-align: center;
  margin: auto;
  padding:20px;
}

/*** BOXES */
.content2{
  padding: 5% 0 5% 0;
  font-size: 18px;
  color:white;
  text-align: center;
  background-color:rgba(26, 57, 88, 0.8);
}
.boxes h3{
 color: #1A3958;text-align: center;
}
.boxes p{ text-align: center;}
.boxes {
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
}
.contactboxes {
 display: flex;
 justify-content: center;
 align-items: stretch;
}
.boxes #box img{
 height:380px;
}
.boxes #box2 img{
 margin:auto;
 display: inline;
 width: 25%;
 float:left;
 padding: 20px 0 60px 0;
}
.boxes #box3 img{
   height:380px;
}
.flex-container{
 display: flex;
 flex-flow: row wrap;
}

/****    FOOTER */
footer {
 padding: 0 10px 0 10px;
 background-color: white;
 position:fixed;
 bottom: 0;
 margin: auto;
 width: 100%;
 text-align: left;
 font-size: 4px;
 line-height: 1.4;
 overflow:hidden;
 padding: 20px 0 10px 20px;
 color:#1A3958;
 font-size: 12px;
 line-height: 3px;
}

/******** MEDIA QUERIES - Medium ************************/
@media screen and (max-width: 1000px) {

 /* Nav */
 .containernav{position:static;}
 nav li, a{font-size: 1em;}
 div.dropbtn {font-size: 1em;}

 /* Section body */
 body h2{font-size: 1.1em; padding: 0 0 10px 20px; text-align: center;}
 body h3{font-size: 1em; padding: 0 5px 0 5px; text-align: center;}
 div.container1 p{ font-size: 0.8em; padding: 0 10px 0 21px;}
 body tr{ overflow: visible;}
 body th{ font-size: 1em; padding: 2% 1% 0 1%;}
 body td{ font-size: 0.9em; padding: 2% 1% 0 1%;}
 div.container2 p{ font-size: 1em;}
 div.content3 { padding: 10% 0 10% 0;}

 /* Header */
 header {min-height:600px;}
 header h1{padding: 30% 0 10% 0; }

/*  Boxes  */
section.boxes #box img{
  height:350px;}

/*********   MEDIA QUERIES - SMALL *************/
@media screen and (max-width: 625px)  {
 /* Body */
.body h1{
  font-size: 10vw;
  }

/*
 body{
   letter-spacing: 1px;
    background-size: cover;
    background-size: 10%;
    background-repeat:no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;}

 /* Nav
 nav{ display:none;}
 div.navbutton{
   display:inline;
   float:right;
   margin: 1% 1% 0 1%;
   width:30px;}
   .dropdown-content {
   margin: 0px 10px 0 0;
   min-width: 9%;
   background-color:rgba(255, 255, 255, 0.8);
}
 .dropdown-content a {
   padding: 10px 10px 10px 10px;
   text-align: left; }

 /*sidebar
 #sidebar {
   display: none;}

 /*  Boxes  */
 section.boxes #box img{
   height:180px;}
 /* body */
 h4{font-size: 0.5em;}
 body h2{font-size: 0.9em; line-height: 30px;}
 body h3{font-size: 0.8em; padding: 0 5px 0 5px; text-align: center;}
 body tr{ overflow: visible;}
 body th{ font-size: 0.9em;}
 body td{ font-size: 0.8em;}

 /*  Containers  */
 div.container1{
     width:90%;
     margin:auto;
     overflow:hidden;}
 div.container1 p{ font-size: 0.8em; }
 div.container2 p{ font-size: 0.8em; }

 /* HEADER */
 header {min-height:400px;}
 header h1{padding: 40% 0 5% 0;}
 header h4{ padding: 0% 0 10% 0;}

 .boxes p{
   font-size: 15px;
 }
 .boxes #box3 img{
   height: 120px;
 }
